@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400;500;600;700;800&display=swap');
/* general css */
* {
    font-family: "Playpen Sans";
}
body {
    position: relative;
    padding: 0;
    margin: 0;
}
#body {
    position: relative;
    padding: 0;
    margin: 0;
}
.background {
    object-fit: cover;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 0);
}
.desktop-background {
    min-width: 1275px;
}
.mobile-background {
    min-width: 515px;
    display: none;
}
.center {
    text-align: center;
}
.hidden {
    display: none !important;
}
.invisible {
    visibility: hidden !important;
}
#container {
    padding: 10px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

/* CSS Document */

/* general css */
.hidden {
    display: none;
}
.center {
    text-align: center;
}
.no-margin-top {
    margin-top: 0;
}
h1 {
    margin-top: 15px;
}
h3 {
    font-size: 20px;
}
a {
    color: #8c0005;
}
label {
    font-weight: bold;
}

/* pagination css */
.pagination {
    list-style-type: none;
    text-decoration: none;
    margin-top: 10px;
    padding: 0;
    margin-bottom: 0;
}
.pagination li {
    float: left;
    margin: 0 6px;
}
.disabled a {
    cursor: default !important;
}
.first:hover {
    content: url("../images/site-images/first-hover.png");
}
.last:hover {
    content: url("../images/site-images/first-hover.png");
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.next {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.last {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.next:hover {
    content: url("../images/site-images/prev-hover.png");
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.prev:hover {
    content: url("../images/site-images/prev-hover.png");
}
.disabled .first {
    content: url("../images/site-images/first-disabled.png");
}
.disabled .last {
    content: url("../images/site-images/first-disabled.png");
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.disabled .next {
    content: url("../images/site-images/prev-disabled.png");
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.disabled .prev {
    content: url("../images/site-images/prev-disabled.png");
}

.paginate-footer {
    flex-grow: 0 !important;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
    background-color: white;
}
.paginate-container {
    width: 100%;
    text-align: center;
}

/* flexbox css */
.flex{
    display: flex;
}
.flex > div {
    flex-grow: 1;
}
.small-input {
    flex-basis: 250px;
}
.medium-input {
    flex-basis: 400px;
}
.large-input, .section-title {
    flex-basis: 100%;
}

/* form css */
.form-flex {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
}
label.normal-text {
    font-weight: normal;
}
.checkbox-label-container {
    display: inline-flex;
    flex-direction: column;
}
.flex-checkbox {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
input, textarea, select {
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    font-size: 1rem;
}
input:not([type=radio], [type=checkbox], [type=submit], [class=price-input]), select, textarea {
    width: 100%;
    margin: 5px 0 20px;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #E5E5E5;
    transition: border-color 0.3s;
}
.file-input {
    display: inline-block;
    margin: 10px 0;
}
input[type=radio] {
    width: auto !important;
}
.required {
    color: #be2026;
}
textarea {
    resize: none;
}
.dollar-sign-input {
    margin: 5px 0 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #FAFAFA;
    border: 1px solid #E5E5E5;
    column-gap: 4px;
    transition: border-color 0.3s;
}
.price-input {
    border: none;
    flex-grow: 1;
    width: 80%;
    height: auto;
    padding: 0;
    border-radius: 0;
    transition: none;
}
.price-input:focus {
    border: none;
    outline: none;
}
#price-input-container {
    display: inline-block;
    width: 100%;
}
.dollar-sign {
    cursor: default;
    font-size: 1rem;
    position: relative;
    bottom: 2px;
}

/* server side error css */
.submit-error {
    padding: 7px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #5F0000;
    background-color: #FFC7C7;
    border-color: #CB0000;
    animation: fadein 0.5s;
    transition: 0.5s;
}
@keyframes fadein {
    0% { opacity: 0; bottom: -100px; }
    100% { opacity: 1; bottom: 0; }
}

/* input validation error css */
.invalid {
    outline: 1px solid red;
}
.error-msg {
    color: red;
    font-size: 14px;
    margin: -18px 0 0;
}
.invalid ~ span {
    display: block;
}


/* popup css */
.popup-container {
    justify-content: center;
    position: fixed;
    align-items: flex-start;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.316);
}
.popup {
    width: 40%;
    max-height: 80vh;
    flex-grow: 0 !important;
    align-items: center;
    justify-content: center;
    margin: 160px 15px 0;
    background-color: white;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
}
.close-button {
    position: absolute;
    cursor: pointer;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    transition: width 0.2s, height 0.2s;
}
.close-button:hover {
    height: 17px;
    width: 17px;
}
.close-button:active {
    top: 5px;
}
.green_button, .red_button {
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    text-align: center;
}
.green_button {
    background-color: green;
}
.red_button {
    background-color: #8c0005;
}

/*** specific css ***/

/* item list css */
#add-item {
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 8px 15px;
    text-align: center;
    border-radius: 2px;
    transition: all 0.5s;
}
#add-item:hover {
    background-color: #8c0005;
    border-bottom: 1px solid white;
}
.items-list {
    flex-direction: row;
    column-gap: 3%;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto 40px;
    padding: 20px;
}
.items-list .item-container {
    flex-basis: 340px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex-grow: 0;
    height: 490px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
    background-color: white;
}
.item-container h3, .item-container h4, .item-container .notes {
    margin: 0;
}
.item-container .notes-label {
    display: inline;
}
.item-container .notes {
    margin-bottom: 10px;
}
.item-image {
    width: 100%;
    max-height: 100%;
    border-radius: 10px 10px 0 0;
}
.bow {
    position: absolute;
    top: 0;
    right: 0;
}
.item-description {
    background-color: white;
    height: 240px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 15px 15px;
    padding: 5px;
}
.view-button, .link-button, .edit-button, .delete-button {
    display: inline-block;
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 3px;
    text-align: center;
    background-image: none;
    transition: all 0.5s;
}
.list-title {
    background: url("../images/site-images/gold-glitter.png");
    background-size: 200px;
    background-repeat: repeat;
    padding: 15px 0;
    border-top: 5px solid rgb(168, 143, 0);
    border-bottom: 5px solid rgb(168, 143, 0);
    box-shadow: rgba(255, 255, 255, 0.771) 0px 7px 29px 0px;
}
.view-button {
    background-image: linear-gradient(to right,green, green);
}
.view-button:hover {
    background-image: linear-gradient(to right, #8c0005,green,#8c0005,green,#8c0005,green,#8c0005);
}
.link-button {
    background-image: linear-gradient(to right,#8c0005, #8c0005);
}
.link-button:hover {
    background-image: linear-gradient(to right, green,#8c0005,green,#8c0005,green,#8c0005,green);
}
.edit-button {
    background-color: green;
    border: 2px solid white;
    outline: 3.5px solid #8c0005;
    margin: 0 3px;
}
.edit-button:hover {
    background-color: rgb(0, 98, 0);
}
.delete-button {
    background-color: #8c0005;
    border: 2px solid white;
    outline: 3.5px solid green;
    margin: 0 3px;
}
.delete-button:hover {
    background-color: #600003;
}
.price-date {
    font-weight: normal;
    font-style: italic;
}
.date-added {
    margin-bottom: 0;
}

/* view item page css */
.view-item-container {
    flex-direction: column;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 70%;
    outline: solid 7px #8c0005;
    border: solid 7px green;
    border-radius: 2px;
    margin: 0 auto 60px;
    padding: 20px;
}
.view-item-image {
    width: 310px;
    max-width: 100%;
    max-height: 100%;
}
.view-item-content {
    max-width: 100%;
    text-align: left;
}
.view-item-content label {
    color: green;
    font-weight: bold;

}
.unmark-msg {
    font-size: 14px;
}
.hide-3 {
    display: none !important;
}

@media (max-width: 1220px){
    .hide-3 {
        display: block !important;
    }
    .placeholder-1, .placeholder-2, .hide-2 {
        display: none !important;
    }
}
@media (max-width: 820px){
    .items-list .item-container {
        height: 500px;
    }
    .placeholder-0 {
        display: none !important;
    }
}
@media (max-width: 600px){
    .form-container {
        width: 100%;
    }
    .desktop-background {
        display: none;
    }
    .mobile-background {
        display: block;
    }
    .pagination img {
        width: 45px !important;
        height: 45px !important;
    }
    .pagination strong {
        font-size: 25px !important;
    }
}
@media (max-width: 360px) {
    .items-list .item-container {
        height: auto;
    }
    .item-description {
        height: auto;
        position: relative;
    }
}